include LICENSE
include README.md
include jetzt/bin/jetzt_scaffold.sh
include jetzt/bin/install_pypi_pkg.sh
include jetzt/bin/list_pkgs.sh
include jetzt/bin/list_outdated_pkgs.sh
include jetzt/bin/update_pypi_pkg.sh
include jetzt/bin/remove_pkg.sh
include jetzt/bin/create_reqs.sh
include jetzt/bin/reinstall_reqs.sh
graft jetzt/seeds
